<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GettingStarted.Properties.Settings.MusicCollectionConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Work\Main\CodeLibrary\Courseware\DataSources\MusicCollection.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>