<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_14_RowCellFormatting.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>