<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Databinding.Properties.Settings.FurnitureConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;..\..\..\..\..\..\DataSources\Furniture.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>