<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataSources.Properties.Settings.SchedulerDataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SchedulerData.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="DataSources.Properties.Settings.NwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="DataSources.Properties.Settings.MusicCollectionConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MusicCollection.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="DataSources.Properties.Settings.FurnitureConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Furniture.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="DataSources.Properties.Settings.ChartConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Chart.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEntity.csdl|res://*/NorthwindEntity.ssdl|res://*/NorthwindEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>