<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="GettingStarted.Properties.MySettings.SchedulerDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;..\..\..\..\..\..\DataSources\SchedulerData.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="GettingStarted.Properties.Settings.SchedulerDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\..\..\DataSources\SchedulerData.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>